/* src/styles/Home.css */

.home-container {
  padding: 20px;
}

.project-creation {
  display: flex;
  gap: 10px;
}

.project-list {
  padding: 10px;
}

.project-view {
  margin-top: 20px;
  padding: 10px;
}

.add-todo {
  display: flex;
  gap: 10px;
}

.todo-list ul {
  list-style: none;
  padding: 0;
}

.todo-list li.pending {
  color: blue;
}

